<h2>Here is a list of your local shoe stores <%= @store.store_name %></h2>

<% if @brands.any? %>
<form action="/store/<%= @store.id %>/" method="post">
  <input type="hidden" name="_method" value="patch">

  <% @brands.each do |brand| %>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="brand_ids[]" value="<%= brand.id %>"><%= brand.brand_name %>
    </label>
  </div>
  <% end %>

  <button type ="submit" class="btn btn-success">Add Store</button>
</form>
<% end %>

<% if @store.brands.any? %>

<h3>Here are all of your brands </h3>

<ul>
  <% @store.brands.each do |brand| %>
  <li><%= brand.brand_name %></li>
  <% end %>
</ul>

<% else %>
<p>There are no brands yet</p>
<% end %>

<a href="/" class="btn btn-success">Home</a>
